/temp/
/results/
/inputs/
/temp/


.idea
*.log
*.logs
*.joblib
*.pyc
*.safetensors

venv
.vscode 
nohup.out


.qiniu_pythonsdk_hostscache.json
.ipynb_checkpoints/
logs

.prd
.test
.dev
.env
.env.txt
.channels

.pytest_cache
.idea 
.pyc

*.orig
